<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  {% block head %}
  {% block head_meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{% block head_meta_description %}{% endblock %}">
  <meta name="author" content="{% block head_meta_author %}{% endblock %}">
  <meta name="keywords" content="{% block head_meta_keywords %}{% endblock %}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% endblock head_meta %}
  
  <title>{% block head_title %}{% endblock %}</title>

  {% block head_css %}
  {% stylesheets '@OryzoneBoilerplateBundle/Resources/public/css/style.css' %}
  <link rel="stylesheet"  href="{{ asset_url }}" >
  {% endstylesheets %}
  {% endblock %}
  
  {% block head_js %}
  {% javascripts '@OryzoneBoilerplateBundle/Resources/public/js/libs/modernizr-2.0.6.min.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  {% endblock %}
  {% endblock head %}
</head>

<body>
  {%block body%}
  <div id="container">
    <header>
    {% block body_header %}{% endblock %}
    </header>
    <div id="main" role="main">
    {% block body_main %}{% endblock %}
    </div>
    <footer>
    {% block body_footer %}{% endblock %}
    </footer>
  </div>

  {% block body_js %}
  {% block body_js_jquery %}<script src="{% block body_js_jquery_onlineSrc %}//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js{% endblock %}"></script>
  <script>window.jQuery || document.write('<script src="{% block body_js_jquery_offlineSrc %}{% javascripts '@OryzoneBoilerplateBundle/Resources/Public/js/libs/jquery-1.6.2.min.js' %}{{ asset_url }}{% endjavascripts %}{% endblock %}"><\/script>')</script>
  {% endblock body_js_jquery %}
  {% block body_js_analytics %}
  {% if bp_analytics_id is defined %}
  <script>
    window._gaq = [['_setAccount','{{ bp_analytics_id }}'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
  {% endif %}
  {% endblock body_js_analytics %}
  {% block body_js_chromeframe %}
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  {% endblock body_js_chromeframe %}
  {% endblock body_js %}
  {% endblock body %}
</body>
</html>